.product-quantity {
    flex-wrap: wrap;
}

.alma-widget-insurance{
    width: 100%;
}
#product-alma-iframe,
.cart-item-alma-iframe{
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.actions-alma-insurance-product.loading{
    position: relative;
}

.actions-alma-insurance-product .item-alma-insurance {
    font-family: "Venn", sans-serif;
    background: #f9f9f9;
    padding: 12px 0;
    border-radius: 12px;
    color: #1A1A1A;
}

.item-alma-insurance *{
    -webkit-font-smoothing: initial;
}
.item-alma-insurance .alma-action-item-insurance {
    font-size: 0.9rem;
}
.item-alma-insurance .alma-action-item-insurance.text-center {
    text-align: center;
}
.item-alma-insurance .alma-action-item-insurance.text-right {
    text-align: right;
}
.item-alma-insurance .product-line-grid-left {
    float: left;
    padding: 0 15px;
}
.item-alma-insurance .product-line-grid-left.alma-title-widget-insurance {
    background-image: url('/modules/alma/views/img/logos/shield.svg');
    background-repeat: no-repeat;
    background-position: 15px;
    background-size: 24px;
    padding-left: 45px;
    margin-bottom: 5px;
}
.item-alma-insurance .product-line-info .label{
    display: flex;
    gap: 4px;
}
.item-alma-insurance .product-line-info .label strong{
    display: flex;
    align-items: center;
}
.item-alma-insurance .alma-action-item-insurance .alma-remove-insurance-product {
    color: inherit;
    text-decoration: underline;
}
.product-line-grid-right .cart-line-product-actions .alma-remove-insurance-products {
    color: inherit;
}
.item-alma-insurance .alma-action-item-insurance .btn-add-insurance-product {
    display: inline-block;
    color: inherit;
    border: solid 1px #f0f0f0;
    padding: 10px 14px;
    margin-top: 5px;
    border-radius: 20px;
    background: #fefefe;
}

.actions-alma-insurance-product .input-group input {
    float: left;
    width: 3rem;
    height: 2.5rem;
    padding: 0.175rem 0.5rem;
    color: #232323;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.product-line-grid-right .bootstrap-touchspin {
    box-shadow: none;
}

/**
-- Loader dot
 */
.alma-loader-dot-container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
.alma-loader-dot-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eee;
    opacity: .5;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #fa5022;
    border-radius: 50%;
}

.one {
    animation: change-color 1.34s normal 0.1s infinite, bounce 1.34s linear 0s infinite;
}

.two {
    animation: change-color 1.34s normal 0.34s infinite, bounce 1.34s linear 0.24s infinite;
}

.three {
    animation: change-color 1.34s normal 0.58s infinite, bounce 1.34s linear 0.48s infinite;
}
.spinner {
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%,
    40%,
    63%,
    100% {
        transform: translateY(0);
    }

    26% {
        transform: translateY(-7px);
    }

    47% {
        transform: translateY(1px);
    }
}

@keyframes change-color {
    0%,
    13%,
    63%,
    100% {
        background-color: #fa5022;
    }

    40% {
        background-color: #ff5147;
    }
}
