/**
 * 2018-2022 Alma SAS
 *
 * THE MIT LICENSE
 *
 * Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
 * documentation files (the "Software"), to deal in the Software without restriction, including without limitation
 * the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and
 * to permit persons to whom the Software is furnished to do so, subject to the following conditions:
 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the
 * Software.
 *
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE
 * WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF
 * CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
 * IN THE SOFTWARE.
 *
 * @author    Alma SAS <contact@getalma.eu>
 * @copyright 2018-2022 Alma SAS
 * @license   https://opensource.org/licenses/MIT The MIT License
 */

.payment_module .alma-button img {
    vertical-align: middle;
    cursor: pointer;
}

.alma-button.disabled,
.alma-button-with-bkg.disabled {
    opacity: 0.5;
}

.alma-button.disabled img,
.alma-button-with-bkg.disabled img {
    opacity: 0.5;
}

p.payment_module a.alma-button-with-bkg {
    background: #fbfbfb;
    padding: 20px 17px;
}

.payment_module a.alma-button {
    padding: 20px 17px;
}

p.payment_module a:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}

p.payment_module a.disable-arrow-icon:after {
    display: none;
}

.alma-button--logo {
    margin-right: 20px;
    white-space: nowrap;
}

.alma-button--logo img {
    height: 35px;
}

.disable-arrow-icon .alma-button--logo img {
    height: 30px;
}

.alma-button--title {
    color: #333 !important;
}

.alma-button-with-bkg > span,
.alma-button > span {
    display: inline-block !important;
    vertical-align: middle !important;
}

.alma-button--description {
    font-size: 0.9em;
    color: #777;
}

.alma-confirmation--logo{
    float: right;
}

.alma-fee-plan--block {
    margin-bottom: 20px;
}

.payment_module .alma-button .alma-button--fee-plans,
.order-confirmation .alma-button .alma-button--fee-plans {
    display: block;
    margin-top: 15px;
}

.payment_module .alma-fee-plan--description,
.order-confirmation .alma-fee-plan--description {
    padding: 4px 0;
    font-size: 0.9em;
    font-weight: normal !important;
    letter-spacing: initial !important;
}

.payment_module .alma-deferred--description {
    padding: 4px 0;
    font-size: 0.9em;
    font-weight: normal !important;
    letter-spacing: initial !important;
}

.payment_module .alma-fee-plan--date,
.order-confirmation .alma-fee-plan--date {
    display: inline-block;
    width: 150px;
}

.payment-options .alma-fee-plan--description,
.order-confirmation .alma-fee-plan--description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    margin: 4px 0px;
    border-bottom: 1px solid lightgrey;
}

.payment-options .alma-deferred--description {
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px;
    margin: 4px 0px;
    font-weight: normal !important;
}

.payment-options .alma-fee-plan--description:last-child,
.order-confirmation .alma-fee-plan--description:last-child {
    border-bottom: none;
}

.payment-options .alma-fee-plan--date,
.order-confirmation .alma-fee-plan--date {
    width: 150px;
    display: inline-block;
}

.payment-options .alma-fee-plan--amount,
.order-confirmation .alma-fee-plan--amount {
    text-align: right;
}

.alma-error {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    padding: 15px;

    font-weight: bold;
    font-size: 1.2em;
    text-align: center;

    background: rgba(77, 133, 229, 0.9);
    color: white;

    z-index: 9999;
}

.alma-error--close-btn {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    right: 10px;
    height: 20px;
    width: 20px;
    font-size: 2em;
    line-height: 0.5em;
    vertical-align: top;

    cursor: pointer;
}

p.payment_module a.disable-arrow-icon {
    background: none;
}

.payment_module .alma-credit-desc-left {
    float: left;
    font-weight: normal;
}

.payment_module .alma-credit-desc-right {
    float: right;
    font-weight: normal;
}

/* Fix for merchant provisional before fix repo */
#alma-fragments-popup {
    z-index: 100 !important;
}