.product-quantity {
    flex-wrap: wrap;
}

.alma-widget-insurance{
    width: 100%;
}
#alma-widget-insurance{
    border: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 190px;
}
.actions-alma-insurance-product{
    border: solid 1px #ee8c4d;
}
.actions-alma-insurance-product .row:first-child{
    padding-top: 0;
}