@font-face {
    font-family: 'Eina04-Bold';
    src: url('../fonts/Eina04-Bold.ttf') format('ttf'),
         url('../fonts/Eina04-Bold.svg') format('svg'),
         url('../fonts/Eina04-Bold.woff') format('woff'),
         url('../fonts/Eina04-Bold.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Public-Sans';
    src: url('../fonts/PublicSans-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

/** Venn **/
@font-face {
  font-family: Venn;
  src: url('https://cdn.almapay.com/fonts/Venn/Venn-Bold.eot') format('embedded-opentype'),
  url('https://cdn.almapay.com/fonts/Venn/Venn-Bold.woff') format('woff'),
  url('https://cdn.almapay.com/fonts/Venn/Venn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Venn;
  src: url('https://cdn.almapay.com/fonts/Venn/Venn-Regular.eot?#iefix') format('embedded-opentype'),
  url('https://cdn.almapay.com/fonts/Venn/Venn-Regular.woff') format('woff'),
  url('https://cdn.almapay.com/fonts/Venn/Venn-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
