alma/vendor
alma/config*.xml
alma/composer.lock
alma/phpunit.xml
.php_cs.cache
dist
tmp
**/.DS_Store
tools/vendor
tools/composer.lock
.vscode/
.idea/
.dccache
.phpunit.result.cache
/alma/.php-cs-fixer.cache
/alma/.coverage
./.task