@import url('../fonts.css');

.icon-alma:before{    
    /* content: "\f05e"; */
    content: "";
    display: inline-block;    
    height: 13px; 
    width: 14px;  
    background: transparent url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.1745 11.8399V11.6588H16.6195C15.4171 11.6588 14.5253 11.7795 13.9442 12.021C13.3831 12.2424 13.1025 12.7354 13.1025 13.5C13.1025 14.647 13.9041 15.2205 15.5073 15.2205C16.8499 15.2205 17.7918 14.9388 18.3329 14.3753C18.894 13.7918 19.1745 12.9466 19.1745 11.8399ZM14.5153 18.5407C12.6316 18.5407 11.2388 18.0779 10.337 17.1522C9.43527 16.2065 8.98438 14.9891 8.98438 13.5C8.98438 11.7091 9.56553 10.4213 10.7278 9.63648C11.8901 8.83158 13.6636 8.42918 16.0484 8.42918H19.1745V7.76508C19.1745 6.27598 18.2327 5.53149 16.349 5.53149C14.6656 5.53149 13.7338 6.17538 13.5534 7.46328H9.34509C9.48537 5.91378 10.1266 4.61592 11.2689 3.56955C12.4112 2.52318 14.1346 2 16.4391 2C18.7237 2 20.4471 2.51312 21.6094 3.53937C22.7717 4.56561 23.3528 6.01448 23.3528 7.88578V18.1785H19.5653V16.4278C18.6635 17.8364 16.9802 18.5407 14.5153 18.5407Z' fill='white'/%3E%3Cpath d='M24 24.5407H8V29.5407H24V24.5407Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat center center;
}

i.icon-alma{
    vertical-align: text-bottom !important;
}


.alma-pt-8{
    padding-top:8px;
}

.alma-pt-3{
    padding-top:3px;
}

.form-group-15{
    margin-bottom: 1rem;
}

.pull-right-15{
    float: right;
}

.panel15{
    width: 600px;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 20px !important;
}

.alma-input-number{
    width: 300px;
    height: 20px;
}

.form-alma.disabled{
    position: relative;
}
.form-alma.disabled::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .7);
    z-index: 1;
}

.alma--spacer{
    clear: both;
    color: #E2EAED;
}

.alma--border{
    border: solid 1px #E2EAED;
}

/*PS1.6*/
.panel-heading .alma-progress{
    margin-top: 7px;
    margin-bottom: 5px;
}

/*PS1.5*/
#alma-refund .margin-form input[type=radio] {
    float: left;
    margin-top: 2px;
}
#alma-refund .margin-form label {
    font-weight: normal;
    text-align: left;
    width: 90%;
    color: #000;
    float: left;
    margin-bottom: 5px;
    padding-left: 5px;
}
fieldset .form-alma.disabled::before{
    background-color: rgba(235, 237, 244, .7);
}
.form-group .margin-form .alma_switch label{
    width: 55px;
}
.preference_description{
    margin-top: 5px;
}
.margin-form.input_html{
    padding-left: 0;
    clear: left;
}

/*Switch*/
.bootstrap .form-horizontal .checkbox.alma_switch{
    padding-top: 4px;
}
.bootstrap .alma_switch label.switch{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 25px;
}

.alma_switch .switch input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.alma_switch .switch .slider {
	cursor: pointer;
	text-indent: -9999px;
	width: 45px;
	height: 25px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
    margin-right: 20px;
}

.alma_switch .switch .slider:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 21px;
	height: 21px;
	background: #fff;
	border-radius: 21px;
	transition: 0.3s;
}

.alma_switch .switch input:checked + .slider {
	background: #FA5022;
}

.alma_switch .switch input:checked + .slider:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.alma_switch .switch .slider:active:after {
	width: 35px;
}
.bootstrap .prestashop-switch .slide-button::after {
    top: 49%;
}

.bootstrap .alma.alert {
    font-family: 'Public-Sans', sans-serif;
    font-weight: 300;
    padding-left: 180px;
    background-repeat: no-repeat;
    background-position: 35px 35px;
    background-image: url('/modules/alma/views/img/logos/logo_alma.svg');
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.bootstrap .alma.alert h2, .bootstrap .alma.alert .btn {
    font-family: 'Eina04-Bold', sans-serif;
    font-weight: 400;
}

.bootstrap .alma.alert b{
    font-weight: 600;
}

.bootstrap .alma.alert .h2, .bootstrap .alma.alert h2 {
    font-size: 24px;
}

.bootstrap .alma.alert.alert-info {
    background-color: #E9F4FF;
    border: 1px solid #E1E4E6;
    color: #00425D;
    font-size: 16px;
}

.bootstrap .alma.alert.alert-info:before {
    content: '';
}

.bootstrap .alma.alert.alert-info a:not(.btn) {
    color: #00425D;
    text-decoration: underline;
}

.bootstrap .alma.alert .btn {
    line-height: 1;
    padding: 12px 16px;
    border: 2px solid transparent;
    border-radius: 4px;
    text-transform: uppercase;
}
.bootstrap .alma.alert .btn.btn-default {
    background: #FFFFFF;
    border-color: #00425D;
    color: #00425D;
}
.bootstrap .alma.alert .btn.btn-primary {
    background: #00425D;
    border-color: #00425D;
    color: #FFFFFF;
}

.link-collapse .icon-chevron-down{
    display: none;
}
.link-collapse.collapsed .icon-chevron-down{
    display: inline-block;
}
.link-collapse.collapsed .icon-chevron-up{
    display: none;
}