.alma-pnx-tabs .nav-tabs {
    border-bottom: 1px solid #ccced7;
    overflow: auto;
}

.alma-pnx-tabs .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
    padding: 10px;
    cursor: pointer;
}

.alma-pnx-tabs .nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 3px 3px 0 0;
    padding: 10px;
}

.alma-pnx-tabs .nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}

.alma-pnx-tabs .nav-tabs > li.active > a,
.alma-pnx-tabs .nav-tabs > li.active > a:hover,
.alma-pnx-tabs .nav-tabs > li.active > a:focus {
    color: #555;
    border: 1px solid #ccced7;
    border-bottom-color: transparent;
    cursor: default;
}

.alma-pnx-tabs .tab-pane {
    display: none;
}

.alma-pnx-tabs .tab-pane.active {
    display: block;
}
