{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <div class="card">
        <h3 class="card-header">
            {{ title }}
        </h3>

        <div class="card-body">
            <p>Bienvenue dans la page de configuration du module 🚀</p>
        </div>
    </div>
{% endblock %}
